* {
    margin: 0;
    padding: 0;
}

body {  
/* height: 94vh; */
width: 100%;
margin: 0;
padding: 0;
}

.body {
    background-image: url("../../assets/images/road-sky.jpg");
    background-size: 100% 100%;
    /* position: static; */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    min-height: 500px;
    max-height: 100%;
    margin: 0 auto;
    /* padding: 20px 0; */
    text-align: center;
    /* background-color: rgba(0, 0, 255, 0.3); */

}

.title {
    font-size: 30px;
}

.main {
    font-size: 20px;
    /* background-color: rgba(255, 0, 255, 0.3); */
    border: 1px blue solid;

}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.letter {
    display: inline-block;
    background-color: white;
    border-bottom: 2px black solid;
    color: black;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 30px;
}

.blank {
    display: inline-block;
    /* background-color: white; */
    /* border-bottom: 2px black solid; */
    color: black;
    margin: 10px;
    width: 4px;
    height: 40px;
    /* font-weight: bold; */
    /* font-size: 30px; */
}
.spacer {
    margin: auto;
}

.imgBox {
    width: 600px;
    height: 450px;
    background-repeat: no-repeat;
    /* background-size: 250px 400px; */
    background-size: 100% 100%;
    margin: auto;
}

.image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    /* background-size: 250px 400px; */
    background-size: 100% 100%;
   
}

.Ferrari {
    background-image: url("../../assets/images/YellowFerrari.png");
    /* content: url("../../assets/images/BlueFerrari.png"); */
}

.Tesla {
    background-image: url("../../assets/images/TeslaS.png");
    /* content: url("../../assets/images/TeslaS.png"); */
}

.Jaguar {
    background-image: url("../../assets/images/Jaguar.png");
    /* content: url("../../assets/images/Jaguar.png"); */
}

.Lamborghini {
    background-image: url("../../assets/images/Lamborghini.png");
    /* content: url("../../assets/images/Lamborghini.png"); */
}

.Lotus {
    background-image: url("../../assets/images/BlackLotus.png");
    /* content: url("../../assets/images/BlackLotus.png"); */
}

.Maserati {
    background-image: url("../../assets/images/WhiteMaserati.png");
    /* content: url("../../assets/images/WhiteMaserati.png"); */
}

.MercedesBenz {
    background-image: url("../../assets/images/BlackMercedes.png");
    /* content: url("../../assets/images/BlackMercedes.png"); */
}

.Bentley {
    background-image: url("../../assets/images/BlueBentley.png");
    /* content: url("../../assets/images/BlueBentley.png"); */
}

.Bugatti {
    content: url("../../assets/images/BlueBugatti.png");
}

.Lexus {
    content: url("../../assets/images/GreyLexus.png");
}

.Koenigsegg {
    content: url("../../assets/images/koenigsegg.png");
}

.McLaren {
    content: url("../../assets/images/McLaren.png");
}
