* {
    margin: 0;
    padding: 0;
}

body {  
/* height: 94vh; */
width: 100%;
margin: 0;
padding: 0;
}

.body {
    background-image: url("../../assets/images/road-sky.jpg"2);
    /* position: static; */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    min-height: 500px;
    max-height: 100%;
    margin: 0 auto;
    /* padding: 20px 0; */
    text-align: center;
    background-color: rgba(0, 0, 255, 0.3);

}

.title {
    font-size: 30px;
}

.main {
    font-size: 20px;
    background-color: rgba(255, 0, 255, 0.3);
    border: 1px blue solid;

}

.letter {
    display: inline-block;
    background-color: white;
    border-bottom: 2px black solid;
    color: black;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.spacer {
    /* margin: auto; */
}

.img {
    width: 800px;
    height: 450px;
}

.Ferrari {
    content: url("../../assets/images/BlueFerrari.png");
    /* background-image: url("../../assets/images/Ferrari.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Tesla {
    content: url("../../assets/images/TeslaS.png");
    /* background-image: url("../../assets/images/TeslaS.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Jaguar {
    content: url("../../assets/images/Jaguar.png");
    /* background-image: url("../../assets/images/Jaguar.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Lamborghini {
    content: url("../../assets/images/Lamborghini.png");
    /* background-image: url("../../assets/images/Lamborghini.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Lamborghini {
    content: url("../../assets/images/Lamborghini.png");
    /* background-image: url("../../assets/images/Lamborghini.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Lotus {
    content: url("../../assets/images/WhiteLotus.jpg");
    /* background-image: url("../../assets/images/WhiteLotus.jpg"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Maserati {
    content: url("../../assets/images/BlackMaserati.png");
    /* background-image: url("../../assets/images/BlackMaserati.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.MercedesBenz {
    content: url("../../assets/images/BlackMercedes.png");
    /* background-image: url("../../assets/images/BlackMercedes.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Bentley {
    content: url("../../assets/images/BlueBentley.png");
    /* background-image: url("../../assets/images/BlueBentley.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Bugatti {
    content: url("../../assets/images/BlueBugatti.png");
    /* background-image: url("../../assets/images/BlueBugatti.png"); */
    background-repeat: no-repeat;
    height: 450px;
    width: 800px;
}

.Lexus {
    content: url("../../assets/images/BlueLexus.png");
    /* background-image: url("../../assets/images/BlueLexus.png"); */
    background-repeat: no-repeat;
    /* background-size: 800px 450px; */
    /* size: 800px 450px; */
    height: 450px;
    width: 800px;
}


